<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Registration</title>
</head>
<body>
    <form action="{% url 'customer_register' %}" method="POST" novalidate>
        {% csrf_token %}
            {% for field in form.visible_fields %}
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                <span style="color:red">{{ error }}</span>
                {% endfor %}
            {% endfor %}
                <input type="submit" value="Register">
    </form>
    
</body>
</html>