<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'stylesheets/new.css' %}">
    <title>NEWS</title>
</head>
<body>
<nav>
    <form class="flex items-center">   
        <label for="simple-search" class="sr-only">Search</label>
        <div class="relative w-full">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-white dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search" required>
        </div>
        <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
            <span class="sr-only">Search</span>
            </button>
            <button id="dark-mode-button">
                    Theme
                </button>
                </form>
                </nav>
                

    <div class="row row-1">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">AI</p>
              <img src="./img/ai.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">AI</p>
              <p>AI, or Artificial Intelligence, is the simulation of human intelligence in machines, enabling them to perform tasks that normally require human-like cognition.</p>
            </div>
          </div>
        </div>
      
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Animal</p>
              <img src="./img/animal.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">Animal</p>
              <p>Animals nowadays face habitat loss, climate change, and extinction threats.</p>
            </div>
          </div>
        </div>
      
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Influencer</p>
              <img src="./img/box.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">Influencer</p>
              <p>Influencer boxing matches generate hype, controversy, and big payouts.</p>
            </div>
          </div>
        </div>
      
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Business</p>
              <img src="./img/business.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">Business</p>
              <p>Business involves creating, selling, and trading goods or services.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Crypto</p>
              <img src="./img/crypto.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">Crypto</p>
              <p>Crypto is gaining acceptance for transactions, investments, and remittances globally.</p>
            </div>
          </div>
        </div>
      
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Design</p>
              <img src="./img/design.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">Design</p>
              <p>Modern design is minimalistic, functional, and emphasizes simplicity.</p>
            </div>
          </div>
        </div>
      
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Deals</p>
              <img src="./img/discount.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">Deals</p>
              <p>Deals and discounts incentivize purchases, increase traffic, and boost revenue for businesses.</p>
            </div>
          </div>
        </div>
      
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">F1</p>
              <img src="./img/f1.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">F1</p>
              <p>The F1 new season introduces new rules, teams, drivers, and circuits, thrilling fans globally.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Football</p>
              <img src="./img/football.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">Football</p>
              <p>The end of the football season brings excitement, disappointments, celebrations, and trophies to teams and fans.</p>
            </div>
          </div>
        </div>
      
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Lebron James</p>
              <img src="./img/lebron.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">Lebron James</p>
              <p>LeBron James led the LA Lakers to their 17th NBA championship, earning his fourth Finals MVP award.</p>
            </div>
          </div>
        </div>
      
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Meta</p>
              <img src="./img/meta.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">Meta</p>
              <p>Meta renamed Facebook, pivoting to metaverse and virtual reality products, prompting controversy and scrutiny.</p>
            </div>
          </div>
        </div>
      
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Entertainment</p>
              <img src="./img/entertainment.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">Entertainment</p>
              <p>Film and music releases, celebrity scandals, and award shows captivate audiences worldwide..</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Finance</p>
              <img src="./img/finance.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">Finance</p>
              <p>Cryptocurrency market fluctuations, stock market performance, and economic policy changes affect global markets.</p>
            </div>
          </div>
        </div>
      
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Sport</p>
              <img src="./img/fencing.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">Sport</p>
              <p>Season highlights, player transfers, and major events like the Olympics and World Cup generate headlines.</p>
            </div>
          </div>
        </div>
      
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Politics</p>
              <img src="./img/politic.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">Politics</p>
              <p>Elections, legislation changes, and international relations shape the world's political landscape.</p>
            </div>
          </div>
        </div>
      
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Technology</p>
              <img src="./img/tech.png" alt="">
            </div>
            <div class="flip-card-back">
              <p class="title">Technology</p>
              <p>Apple introduces new products, Tesla faces supply chain issues, and AI advancements continue.</p>
            </div>
          </div>
        </div>
      </div>
      
      
      <script src="{% static 'js/new.js' %}"></script>
</body>
</html>